*{
    background-color: rgb(189, 152, 139);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: brown;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

p{
    font-size: 25px;
    text-align: center;
}

.home-page-option{
display: inline-block;
margin: 10px;
border: solid rgb(95, 52, 52);
padding: 10px;
height: 75px;
width: 300px;
border-radius: 50px;
}

.gh-buttons{
    text-align: center;
}

.food-picture{
    border-radius: 10px 100px / 120px;
}